{%load static%}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="{%static 'img/favicon.png' %}" type="image/png" sizes="60x60">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="{%static 'js/script.js' %}"></script>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {%block title%}
    {%endblock%}
</head>
 
<!-- <input id="boccheck" onclick="isFirstTime" checked  class="checked" type="checkbox"> -->
<script>
    function on(){
        localStorage.setItem('dark',0)
    }
    function off(){
        localStorage.setItem('dark',1)
    
    }
    
    if (localStorage.getItem('dark') == 0) {
        document.write('<input id="boccheck" onclick="off()" checked  class="checked" type="checkbox"><body background-color: #e5f1fb>')
        }
    else{
        document.write('<input id="boccheck" onclick="on()"   class="checked" type="checkbox"><body style="background-color: #35445c">')
    }
    
</script>
    <!-- сад -->
    <!-- {%if False%}
    <input class="checked" type="checkbox" >
    {%else%}
    {%endif%} -->
    
    <div  class="manu">
        <div class="iconmenu">
            <div class="polos1"></div>
            <div class="polos2"></div>
            <div class="polos3"></div>
        </div>
        <div class="circleleft">
            <div class="divtextmenu">
                
                {%if request.user.is_authenticated%}
                <a href="{%url 'Add' %}">
                    
                    <div class="addManu">
                    <p class="temen white"> &#160;</p>

                    </div>
                </a>
                <a>
                    <p class="temen white temenMax">{{request.user.username}}</p>
                </a>
                <a href="/logout">
                    <p class="temen white">Log out</p>
                </a>
                {%else%}
                <a>
                    <p class="temen white"> &#160;</p>
                </a>
                <a href="/login">
                    <p class="temen white">Log in</p>
                </a>
                <a href="/register">
                    <p class="temen white">Register</p>
                </a> 
                {%endif%}
            </div>
        </div>
        <div class="circletop">
            <div class="divtextmenu">
                <a href="/">
                    <p class="temen">Home</p>
                </a>
                {%if request.user.is_authenticated%}
                    <a href="/users/{{request.user.pk}}/">
                        <p class="temen ">My Profile</p>
                    </a>
                {% endif %}
                <a href="/users/">
                    <p class="temen">Users</p>
                </a>
            </div>
        </div>
    </div>
    <section>
    {%block content%}
    {%endblock%}
        <div style="height: 200px;"></div>
        <div class="footer">
            <div class="footcont">
                <div class="footdiv">
                    <p class="foottext">I'm on social networks</p>
                    <a target="blank" href="https://www.instagram.com/vahebasmajyan/">
                        <p class="webby">instagram</p>
                    </a>
                    <a target="blank" href="https://www.facebook.com/vahe.basmajyan.0">
                        <p class="webby">Facebook</p>
                    </a>
                    <a target="blank" href="https://vk.com/basmajyan93">
                        <p class="webby">VK</p>
                </div>
                <div class="footdiv">
                    <p class="foottext">Useful links</p>
                    {%if request.user.is_authenticated%}
                            <a href="">
                                <p class="webby">{{user.username}}</p>
                            </a>
                            <a href="">
                            <p class="webby">Log out</p>
                        
                    {%else%}
                        <a href="/login">
                            <p class="webby">Log in</p>
                        </a>
                        <a href="/register">
                            <p class="webby">Register</p>
                        </a>
                        <a href="/logout">
                        <p class="webby">Log out</p>
                    
                    {%endif%}
                </div>
                <div class="footdiv">
                    <p class="foottext">Support a Creator</p>
                    <a target="blank" href="https://www.donationalerts.com/">
                        <p class="webby">Donationalerts</p>
                    </a>
                </div>
            </div>
            <br>
            <p class="webby">Website By ©Vahe Basmajyan. 2021 </p>
        </div>
    </section>
</body>

</html>